<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="current-team-tables-row">
        <div class="team">
            <table>
                <tr>
                    <td><img class="team-logo" th:src="@{${teamA.icon}}"></td>
                </tr>
                <tr>
                    <td class="team-name" th:text="${teamA.shortName}">Team A</td>
                </tr>
            </table>
        </div>
        <div class="vs-container">
            <div class="vs">
                <span th:text="${match.result}"></span>
            </div>
        </div>
        <div class="team">
            <table>
                <tr>
                    <td><img class="team-logo" th:src="@{${teamB.icon}}"></td>
                </tr>
                <tr>
                    <td class="team-name" th:text="${teamB.shortName}">Team B</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>