<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="app-container">
        <div class="app-logo-container">
            <img class="app-logo" src="GrnLeague.png"/>
        </div>
        <div class="app-title-container">
            Control panel
        </div>
        <div class="entry-container">
            <div class="entry-icon-container">
                <img class="entry-logo" src="user.png"/>
            </div>
            <div class="entry-text-container">
                Players
            </div>
        </div>
        <div class="entry-container">
            <div class="entry-icon-container">
                <img class="entry-logo" src="users.png"/>
            </div>
            <div class="entry-text-container">
                Teams
            </div>
        </div>
        <div class="entry-container">
            <div class="entry-icon-container">
                <img class="entry-logo" src="match.png"/>
            </div>
            <div class="entry-text-container">
                Matches
            </div>
        </div>
        <div class="entry-container">
            <div class="entry-icon-container">
                <img class="entry-logo" src="settings.png"/>
            </div>
            <div class="entry-text-container">
                Settings
            </div>
        </div>
    </div>
</body>
</html>