<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="app-container">
        <div class="app-logo-container">
            <img class="app-logo" src="GrnLeague.png"/>
        </div>
        <div class="app-title-container">
            Control panel
        </div>
        <div class="option">
            <a href="http://localhost:8080/createPlayer">Register new player</a> | <a href="http://localhost:8080/checkPlayers">Check players</a>
        </div>
        <table>
            <tr th:each="player : ${players}">
                <td>
                    <img class="entry-logo" th:src="@{${player.profileIcon}}"/>
                </td>
                <td>
                    <img class="entry-logo" th:src="@{${player.tierIcon}}"/>
                </td>
                <td class="entry-text-small-container" th:text="${player.tier}"></td>
                <td class="entry-text-small-container" th:text="${player.name}"></td>
                <td class="entry-text-small-container" th:text="${player.tierValue}"></td>
                <td>
                    <img class="entry-logo" th:src="@{${player.teamIcon}}"/>
                </td>
                <td>
                    <img th:if="${player.active}" class="entry-logo" src="active.png"/>
                    <img th:unless="${player.active}" class="entry-logo" src="inactive.png"/>
                </td>
                <td>
                    <a th:href="@{/editPlayer(id=${player.internalId})}"><img class="entry-logo" src="edit.png"/></a>
                </td>
                <td>
                    <a th:href="@{/deletePlayer(id=${player.internalId})}"><img class="entry-logo" src="delete.png"/></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>