<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
        <div class="team">
            <table>
                <tr>
                    <td><img class="team-logo" th:src="@{${team.icon}}"></td>
                    <td class="team-name" th:text="${team.name}">Team A</td></tr>
                <tr th:each="player : ${team.getPlayers()}">
                    <td><img class="team-player-rank" th:src="@{${player.tierIcon}}"></td>
                    <td class="team-player" th:text="${player.name}">Player 1</td>
                </tr>
            </table>
        </div>
        <div class="player-charts">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <div class="player-chart">
                <canvas id="wlChart"></canvas>
            </div>
            <div class="player-chart">
                <canvas id="lpChart"></canvas>
            </div>
        </div>
        <script>
            const ctx = document.getElementById('wlChart');
            const wlChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [(${screens})],
                    datasets: [
                        {
                            label: 'Wins',
                            data: [[${wins}]],
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        },
                        {
                            label: 'Loses',
                            data: [[${loses}]],
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        },
                        {
                            label: 'Matches',
                            data: [[${matches}]],
                            borderColor: 'rgba(255, 206, 86, 1)',
                            backgroundColor: 'rgba(255, 206, 86, 0.2)',
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        }
                    }
                }
            });
            const ctx_2 = document.getElementById('lpChart');
            const lpChart = new Chart(ctx_2, {
                type: 'line',
                data: {
                    labels: [(${screens})],
                    datasets: [
                        {
                            label: 'LP',
                            data: [[${lps}]],
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        },
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        }
                    }
                }
            });
        </script>
</body>
</html>