<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="app-container">
        <div class="app-logo-container">
            <img class="app-logo" src="GrnLeague.png"/>
        </div>
        <div class="app-title-container">
            <a href="http://localhost:8080/">Control panel</a>
        </div>
        <div class="option">
            <a href="http://localhost:8080/tree8preview">Preview</a>
        </div>
        <div class="entry-text-small-container">
            <p>Current match:</p>
            <img th:if="${currentMatch.teamAObject}!=null" class="entry-logo" th:src="@{${currentMatch.teamAIcon}}"/>
            <img th:if="${currentMatch.teamAObject}==null" class="entry-logo" src="users.png"/>
            <span th:text="${currentMatch.result}"/>
            <img th:if="${currentMatch.teamBObject}!=null" class="entry-logo" th:src="@{${currentMatch.teamBIcon}}"/>
            <img th:if="${currentMatch.teamBObject}==null" class="entry-logo" src="users.png"/>
        </div>
        <div class="tree">
            <ul>
               <li>
                   <div class="entry-text-small-container">
                       <a th:href="@{/editMatch(id=${final.id})}"><img class="entry-logo" src="edit.png"/></a>
                       <a th:href="@{/toggleMatchActive(id=${final.id})}">A</a>
                       <a th:href="@{/updateMatchScore(id=${final.id},scoreA=${final.getTeamAScore()+1},scoreB=${final.getTeamBScore()})}">+</a>
                       <a th:href="@{/updateMatchScore(id=${final.id},scoreA=${final.getTeamAScore()-1},scoreB=${final.getTeamBScore()})}">-</a>
                       <img th:if="${final.teamAObject}!=null" class="entry-logo" th:src="@{${final.teamAIcon}}"/>
                       <img th:if="${final.teamAObject}==null" class="entry-logo" src="users.png"/>
                       <span th:text="${final.result}"/>
                       <img th:if="${final.teamBObject}!=null" class="entry-logo" th:src="@{${final.teamBIcon}}"/>
                       <img th:if="${final.teamBObject}==null" class="entry-logo" src="users.png"/>
                       <a th:href="@{/updateMatchScore(id=${final.id},scoreA=${final.getTeamAScore()},scoreB=${final.getTeamBScore()+1})}">+</a>
                       <a th:href="@{/updateMatchScore(id=${final.id},scoreA=${final.getTeamAScore()},scoreB=${final.getTeamBScore()-1})}">-</a>
                   </div>
                   <ul>
                       <li>
                           <div class="entry-text-small-container">
                               <a th:href="@{/editMatch(id=${semifinal1.id})}"><img class="entry-logo" src="edit.png"/></a>
                               <a th:href="@{/toggleMatchActive(id=${semifinal1.id})}">A</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal1.id},scoreA=${semifinal1.getTeamAScore()+1},scoreB=${semifinal1.getTeamBScore()})}">+</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal1.id},scoreA=${starter1.getTeamAScore()-1},scoreB=${semifinal1.getTeamBScore()})}">-</a>
                               <img th:if="${semifinal1.teamAObject}!=null" class="entry-logo" th:src="@{${semifinal1.teamAIcon}}"/>
                               <img th:if="${semifinal1.teamAObject}==null" class="entry-logo" src="users.png"/>
                               <span th:text="${semifinal1.result}"/>
                               <img th:if="${semifinal1.teamBObject}!=null" class="entry-logo" th:src="@{${semifinal1.teamBIcon}}"/>
                               <img th:if="${semifinal1.teamBObject}==null" class="entry-logo" src="users.png"/>
                               <a th:href="@{/updateMatchScore(id=${semifinal1.id},scoreA=${semifinal1.getTeamAScore()},scoreB=${semifinal1.getTeamBScore()+1})}">+</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal1.id},scoreA=${semifinal1.getTeamAScore()},scoreB=${semifinal1.getTeamBScore()-1})}">-</a>
                           </div>
                           <ul>
                               <li>
                                   <div class="entry-text-small-container">
                                       <a th:href="@{/editMatch(id=${starter1.id})}"><img class="entry-logo" src="edit.png"/></a>
                                       <a th:href="@{/toggleMatchActive(id=${starter1.id})}">A</a>
                                       <a th:href="@{/updateMatchScore(id=${starter1.id},scoreA=${starter1.getTeamAScore()+1},scoreB=${starter1.getTeamBScore()})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter1.id},scoreA=${starter1.getTeamAScore()-1},scoreB=${starter1.getTeamBScore()})}">-</a>
                                       <img th:if="${starter1.teamAObject}!=null" class="entry-logo" th:src="@{${starter1.teamAIcon}}"/>
                                       <img th:if="${starter1.teamAObject}==null" class="entry-logo" src="users.png"/>
                                       <span th:text="${starter1.result}"/>
                                       <img th:if="${starter1.teamBObject}!=null" class="entry-logo" th:src="@{${starter1.teamBIcon}}"/>
                                       <img th:if="${starter1.teamBObject}==null" class="entry-logo" src="users.png"/>
                                       <a th:href="@{/updateMatchScore(id=${starter1.id},scoreA=${starter1.getTeamAScore()},scoreB=${starter1.getTeamBScore()+1})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter1.id},scoreA=${starter1.getTeamAScore()},scoreB=${starter1.getTeamBScore()-1})}">-</a>
                                   </div>
                               </li>
                               <li>
                                   <div class="entry-text-small-container">
                                       <a th:href="@{/editMatch(id=${starter2.id})}"><img class="entry-logo" src="edit.png"/></a>
                                       <a th:href="@{/toggleMatchActive(id=${starter2.id})}">A</a>
                                       <a th:href="@{/updateMatchScore(id=${starter2.id},scoreA=${starter2.getTeamAScore()+1},scoreB=${starter2.getTeamBScore()})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter2.id},scoreA=${starter2.getTeamAScore()-1},scoreB=${starter2.getTeamBScore()})}">-</a>
                                       <img th:if="${starter2.teamAObject}!=null" class="entry-logo" th:src="@{${starter2.teamAIcon}}"/>
                                       <img th:if="${starter2.teamAObject}==null" class="entry-logo" src="users.png"/>
                                       <span th:text="${starter2.result}"/>
                                       <img th:if="${starter2.teamBObject}!=null" class="entry-logo" th:src="@{${starter2.teamBIcon}}"/>
                                       <img th:if="${starter2.teamBObject}==null" class="entry-logo" src="users.png"/>
                                       <a th:href="@{/updateMatchScore(id=${starter2.id},scoreA=${starter2.getTeamAScore()},scoreB=${starter2.getTeamBScore()+1})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter2.id},scoreA=${starter2.getTeamAScore()},scoreB=${starter2.getTeamBScore()-1})}">-</a>
                                   </div>
                               </li>
                           </ul>
                       </li>
                       <li>
                           <div class="entry-text-small-container">
                               <a th:href="@{/editMatch(id=${semifinal2.id})}"><img class="entry-logo" src="edit.png"/></a>
                               <a th:href="@{/toggleMatchActive(id=${semifinal2.id})}">A</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal2.id},scoreA=${semifinal2.getTeamAScore()+1},scoreB=${semifinal2.getTeamBScore()})}">+</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal2.id},scoreA=${semifinal2.getTeamAScore()-1},scoreB=${semifinal2.getTeamBScore()})}">-</a>
                               <img th:if="${semifinal2.teamAObject}!=null" class="entry-logo" th:src="@{${semifinal2.teamAIcon}}"/>
                               <img th:if="${semifinal2.teamAObject}==null" class="entry-logo" src="users.png"/>
                               <span th:text="${semifinal2.result}"/>
                               <img th:if="${semifinal2.teamBObject}!=null" class="entry-logo" th:src="@{${semifinal2.teamBIcon}}"/>
                               <img th:if="${semifinal2.teamBObject}==null" class="entry-logo" src="users.png"/>
                               <a th:href="@{/updateMatchScore(id=${semifinal2.id},scoreA=${semifinal2.getTeamAScore()},scoreB=${semifinal2.getTeamBScore()+1})}">+</a>
                               <a th:href="@{/updateMatchScore(id=${semifinal2.id},scoreA=${semifinal2.getTeamAScore()},scoreB=${semifinal2.getTeamBScore()-1})}">-</a>
                           </div>
                           <ul>
                               <li>
                                   <div class="entry-text-small-container">
                                       <a th:href="@{/editMatch(id=${starter3.id})}"><img class="entry-logo" src="edit.png"/></a>
                                       <a th:href="@{/toggleMatchActive(id=${starter3.id})}">A</a>
                                       <a th:href="@{/updateMatchScore(id=${starter3.id},scoreA=${starter3.getTeamAScore()+1},scoreB=${starter3.getTeamBScore()})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter3.id},scoreA=${starter3.getTeamAScore()-1},scoreB=${starter3.getTeamBScore()})}">-</a>
                                       <img th:if="${starter3.teamAObject}!=null" class="entry-logo" th:src="@{${starter3.teamAIcon}}"/>
                                       <img th:if="${starter3.teamAObject}==null" class="entry-logo" src="users.png"/>
                                       <span th:text="${starter3.result}"/>
                                       <img th:if="${starter3.teamBObject}!=null" class="entry-logo" th:src="@{${starter3.teamBIcon}}"/>
                                       <img th:if="${starter3.teamBObject}==null" class="entry-logo" src="users.png"/>
                                       <a th:href="@{/updateMatchScore(id=${starter3.id},scoreA=${starter3.getTeamAScore()},scoreB=${starter3.getTeamBScore()+1})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter3.id},scoreA=${starter3.getTeamAScore()},scoreB=${starter3.getTeamBScore()-1})}">-</a>
                                   </div>
                               </li>
                               <li>
                                   <div class="entry-text-small-container">
                                       <a th:href="@{/editMatch(id=${starter4.id})}"><img class="entry-logo" src="edit.png"/></a>
                                       <a th:href="@{/toggleMatchActive(id=${starter4.id})}">A</a>
                                       <a th:href="@{/updateMatchScore(id=${starter4.id},scoreA=${starter4.getTeamAScore()+1},scoreB=${starter4.getTeamBScore()})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter4.id},scoreA=${starter4.getTeamAScore()-1},scoreB=${starter4.getTeamBScore()})}">-</a>
                                       <img th:if="${starter4.teamAObject}!=null" class="entry-logo" th:src="@{${starter4.teamAIcon}}"/>
                                       <img th:if="${starter4.teamAObject}==null" class="entry-logo" src="users.png"/>
                                       <span th:text="${starter4.result}"/>
                                       <img th:if="${starter4.teamBObject}!=null" class="entry-logo" th:src="@{${starter4.teamBIcon}}"/>
                                       <img th:if="${starter4.teamBObject}==null" class="entry-logo" src="users.png"/>
                                       <a th:href="@{/updateMatchScore(id=${starter4.id},scoreA=${starter4.getTeamAScore()},scoreB=${starter4.getTeamBScore()+1})}">+</a>
                                       <a th:href="@{/updateMatchScore(id=${starter4.id},scoreA=${starter4.getTeamAScore()},scoreB=${starter4.getTeamBScore()-1})}">-</a>
                                   </div>
                               </li>
                           </ul>
                       </li>
                   </ul>
               </li>
            </ul>
        </div>
    </div>
</body>
</html>