<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org"
            xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="winner">
        <div class="winner-team-icon">
            <img th:src="@{${winnerIcon}}">
        </div>
        <div class="winner-team-name">
            <span class="winner-team-name" th:text="${winnerName}"></span>
        </div>
    </div>
</body>
</html>