a {
    color: #063f00;
}

a:hover {
    color: #a5ff69;
}

a:visited {
    color: #063f00;
}

.app-container {
    margin: auto;
    left: 25%;
    right: 25%;
    padding: 10px;
    position: absolute;
}

.app-logo-container {
    display: inline-block;
}

.app-logo {
    height: 300px;
    width: 300px;
}

.entry-container {
    position: relative;
    margin: auto;
    left: 40%;
    height: 110px;
    transform: translateY(-100%);
}

.entry-icon-container {
    display: inline-block;
}

.entry-text-container {
    display: inline-block;
    font-family: "Staatliches", sans-serif;
    font-size: 60px;
    color: #063f00;
    padding: 5px;
    transform: translateY(-30%);
}

.entry-text-small-container {
    display: inline-block;
    font-family: "Staatliches", sans-serif;
    font-size: 20px;
    color: #063f00;
    padding: 5px;
    transform: translateY(-30%);
}

.entry-logo {
    height: 100px;
    width: 100px;
}

.form {
    font-family: "Staatliches", sans-serif;
    font-size: 16px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.form input[type=text] {
    font-family: "Staatliches", sans-serif;
    font-size: 16px;
    color: #3b3b29;
    padding: 2px;
    text-shadow: 3px 3px 3px #343434;
    border: none;
    border-bottom: 2px solid #fffb00;
}

.form input[type=submit] {
    font-family: "Staatliches", sans-serif;
    font-size: 16px;
    color: #3b3b29;
    padding: 20px;
    margin: 10px;
    text-shadow: 3px 3px 3px #343434;
    border: none;
    border-bottom: 2px solid #fffb00;
    background-color: #fffb00;
}

.form input[type=reset] {
    font-family: "Staatliches", sans-serif;
    font-size: 16px;
    color: #3b3b29;
    padding: 20px;
    margin: 10px;
    text-shadow: 3px 3px 3px #343434;
    border: none;
    border-bottom: 2px solid #fffb00;
    background-color: #fd4646;
}r

.form option {
    font-family: "Staatliches", sans-serif;
    font-size: 16px;
    color: #3b3b29;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.option {
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.app-title-container {
    display: inline-block;
    font-family: "Staatliches", sans-serif;
    font-size: 80px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
    transform: translateY(-90%);
}

.team-tables {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: absolute;
}

.team-tables-row {
    margin: auto;
    width: 80%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

.current-team-tables-row {
    margin: auto;
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

.team {
    height: 400px;
    width: 16%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-family: "Staatliches", sans-serif;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.vs-container {
    width: 40%;
    display: inline-block;
    margin-left : 20px;
    margin-right: 20px;
    padding: 90px;
}

.vs-logo {
    width: 200px;
    height: 250px;
    margin-left: 210px;
    padding-bottom: 70px
}

.vs {
    font-family: "Staatliches", sans-serif;
    font-size: 190px;
    text-align: center;
    color: #fffb00;
    text-shadow: 3px 3px 3px #343434;
    transform: translateY(-80%);
}

.team-name {
    font-family: "Staatliches", sans-serif;
    font-size: 20px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.team-player {
    font-family: "Staatliches", sans-serif;
    font-size: 18px;
    color: #66FF00;
    text-shadow: 3px 3px 3px #343434;
}

.team-logo {
    width: 60px;
    height: 60px;
}

.team-player-rank {
    width: 55px;
    height: 55px;
}

.matches-list {
    margin: auto;
    width: 50%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

.match {
    width: 100%;
    left: 10%;
    right: 10%;
    display: inline-block;
    padding: 20px;
    font-family: "Staatliches", sans-serif;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.match-table {
    margin-left: auto;
    margin-right: auto;
}

.match-team-name {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.match-vs {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
    color: #66FF00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player {
    margin: auto;
    width: 50%;
    height: 80%;
    left: 25%;
    top: 10%;
    position: absolute;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.player-credentials {
    width: 100%;
    padding: 10px;
}

.player-icon-container {
    display: inline-block;
    padding: 10px;
}

.player-icon {
    width: 128px;
    height: 128px;
    padding: 10px;
}

.player-details {
    display: inline-block;
}

.player-name {
    font-family: "Staatliches", sans-serif;
    font-size: 45px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-level {
    font-family: "Staatliches", sans-serif;
    font-size: 35px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-rank {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.player-rank-icon-container {
    display: inline-block;
}

.player-rank-icon {
    width: 50px;
    height: 50px;
}

.player-rank-text {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    transform: translateY(-13px);
}

.player-team-icon-container {
    display: inline-block;
}

.player-team-icon {
    width: 128px;
    height: 128px;
}

.player-maestries {
    width: 100%;
    text-align: center;
}

.player-maestries-title {
    font-family: "Staatliches", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-maestries-table-container {
    margin-left: 250px;
}

.player-maestries-icon {
    width: 40px;
    height: 40px;
}

.player-maestries-entry {
    font-family: "Staatliches Guy", sans-serif;
    font-size: 28px;
    color: #66FF00;
    text-shadow: 3px 3px 3px #343434;
    padding-left: 20px;
}

.team-result-container {
    margin: auto;
    width: 30%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.winner {
    margin: auto;
    width: 80%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 30%;
}

.winner-team-name {
    display: inline-block;
    font-family: "Staatliches", sans-serif;
    font-size: 90px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.winner-team-icon {
    display: inline-block;
    width: 300px;
    height: 300px;
}