.team-tables {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: absolute;
}

.team-tables-row {
    margin: auto;
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

.team {
    width: 14%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    font-family: "Luckiest Guy", sans-serif;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.vs-container {
    width: 40%;
    display: inline-block;
    margin-left: : 20px;
    margin-right: 20px;
    padding: 90px;
}

.vs-logo {
    width: 400px;
    height: 500px;
    margin-left: 80px;
}

.vs {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 90px;
    text-align: center;
    color: #fffb00;
    text-shadow: 3px 3px 3px #343434;
}

.team-name {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 20px;
    color: #fffb00;
    padding: 20px;
    text-shadow: 3px 3px 3px #343434;
}

.team-player {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 18px;
    color: #66FF00;
    text-shadow: 3px 3px 3px #343434;
}

.team-logo {
    width: 60px;
    height: 60px;
}

.team-player-rank {
    width: 50px;
    height: 50px;
}

.matches-list {
    margin: auto;
    width: 50%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px;
}

.match {
    width: 100%;
    left: 10%;
    right: 10%;
    display: inline-block;
    padding: 20px;
    font-family: "Luckiest Guy", sans-serif;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.match-table {
    margin-left: auto;
    margin-right: auto;
}

.match-team-name {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.match-vs {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    color: #66FF00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player {
    margin: auto;
    width: 50%;
    left: 25%;
    top: 10%;
    position: absolute;
    background-color: rgba(190, 190, 190, 0.5);
    box-shadow: 3px 3px #343434;
}

.player-credentials {
    width: 100%;
    padding: 10px;
}

.player-icon-container {
    display: inline-block;
    padding: 10px;
}

.player-icon {
    width: 128px;
    height: 128px;
    padding: 10px;
}

.player-details {
    display: inline-block;
}

.player-name {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-level {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 35px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-rank {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-rank-icon-container {
    display: inline-block;
}

.player-rank-icon {
    width: 50px;
    height: 50px;
}

.player-rank-text {
    display: inline-block;
    text-align: center;
    vertical-align: center;
}

.player-team-icon-container {
    display: inline-block;
}

.player-team-icon {
    width: 128px;
    height: 128px;
}

.player-maestries {
    width: 100%;
    padding: 10px;
}

.player-maestries-title {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 40px;
    color: #fffb00;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #343434;
}

.player-maestries-table-container {
    margin-left: 50px;
}

.player-maestries-icon {
    width: 40px;
    height: 40px;
}

.player-maestries-entry {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 28px;
    color: #66FF00;
    text-shadow: 3px 3px 3px #343434;
    padding-left: 20px;
}